body {
    background-color: aliceblue;
}

h5 {
    color: gray;
    margin: 0 0 0 30px;
}

div {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 500px 0 30px;
}