div {
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
    border-radius: 25px;
}

.trafficLight {
    background-color: #777777;
    height: 160px;
    padding: 10px;
}

.redLight {
    background-color: #ff0000;
}

.yellowLight {
    background-color: #ffff00;
}

.greenLight {
    background-color: #00ff00;
}