<!-- 
Problem:
Let's place a 'sold out' sign over an image of a car
the same way an online auto dealership would.


Available:
We added the image of a car and a styled div element
that displays 'Sold Out' so you can focus on positioning.
HTML Code ->
<!doctype html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" type = "text/css" href = "style.css">
    </head>
    <body>
        <h2>Paddy Dealership</h2>
        <img src = "https://mimo.app/i/car.png" alt = "">
        <span class = "price">$25,000</span>
        <div class = "sold">Sold out</div>
    </body>
</html>

CSS Code ->
img {
    width: 200px;
}

.price {
    color: white;
}

.sold {
    background-color: coral;
    padding: 5px;
    width: 160px;
} 
-->


<!DOCTYPE html>
<html>
    <head>
        <title>
            Sold Out Car
        </title>

        <link rel="stylesheet" href="stylesheets/01-sold-out-car.css">
    </head>
    <body>
        <h2>Paddy Dealership</h2>
        <img class="car-img" src="https://mimo.app/i/car.png" alt="">
        <div class="soldout-text-div">Sold out</div>
        <p class="soldout-price-p">$25,000</p>
    </body>
</html>