<!-- 
Problem:
Let's use the 'float' property to design the page of 
a brand new online bank.
We'll use images to differentiate between translations.


Available:
We'll start off with the HTML coded, along with a few styles for
images and div elements that represent different transfers.
HTML Code ->
<!doctype html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" type = "text/css" href = "style.css">
    </head>
    <body>
        <h1>Recent Transfers</h1>
        
        <div class = "credit">
            <img class = "creditImage" src = "https://mimo.app/i/elijah.png" alt = "">
            <h5>Received $50</h5>
            <p class = "creditText">For Phone Bill</p>
        </div>
        
        <div class = "debit">
            <img class = "debitImage" src = "https://mimo.app/i/portrait-cv.png" alt = "">
            <h5>Sent $1500</h5>
            <p class = "debitText">For Macbook</p>
        </div>
    </body>
<html>
    
CSS Code ->
div {
    width: 400px;
    background-color: lavender;
    padding: 10px;
    margin: 10px;
}

img {
    width: 50px;
}
-->


<!DOCTYPE html>
<html>
    <head>
        <title>
            Account History
        </title>

        <link rel="stylesheet" href="stylesheets/03-account-history.css">
    </head>
    <body>
        <h1>Recent Transfers</h1>

        <div class="transfers-in-div">
            <img class="credit-pp-img" src="https://mimo.app/i/elijah.png" alt="">
            <h5>Received $50</h5>
            <p class="credit-memo-p">For Phone Bill</p>
        </div>

        <div class="transfers-out-div">
            <img class="debit-pp-img" src="https://mimo.app/i/portrait-cv.png" alt="">
            <h5 class="transfer-text-h5">Sent $1500</h5>
            <p class="debit-memo-p">For Macbook</p>
        </div>
    </body>
</html>