<!DOCTYPE html>
<html>
    <head>
        <title>
            Account History
        </title>

        <link rel="stylesheet" href="stylesheets/03-account-history.css">
    </head>
    <body>
        <h1>Recent Transfers</h1>

        <div class="transfers-in-div">
            <img class="credit-pp-img" src="https://mimo.app/i/elijah.png" alt="">
            <h5>Received $50</h5>
            <p class="credit-memo-p">For Phone Bill</p>
        </div>

        <div class="transfers-out-div">
            <img class="debit-pp-img" src="https://mimo.app/i/portrait-cv.png" alt="">
            <h5 class="transfer-text-h5">Sent $1500</h5>
            <p class="debit-memo-p">For Macbook</p>
        </div>
    </body>
</html>