<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign In Form
        </title>

        <link rel="stylesheet" href="stylesheets/01-sign-in-form.css">
    </head>
    <body>
        <h1>Sign In</h1>

        <input type="text" placeholder="Email" id="email-input">
        <input type="text" placeholder="Password" id="password-input">
        <a href="" class="forgot-password-link">Forgot Password</a>
        <button id="log-in-button">Log in</button>
    
        <p class="social-media-tags">facebook</p>
        <p class="social-media-tags">google</p>
        <p class="social-media-tags">linkedin</p>
    </body>
</html>