<!-- 
Problem:
Let's use the display property to change 
how elements appear and work on a sign-in form 


Available:
We'll start off with all of the form elements in place and
margins and paddings already set for input, button and div elements.
HTML Code ->
<!doctype html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "style.css">
    </head>
    <body>
        <h1>Sign In</h1>
        <input placeholder = "Email">
        <input placeholder = "Password">
        <a href = "#">Forgot Password</a>
        <button>Log in</button>
        <div>facebook</div>
        <div>google</div>
        <div>linkedin</div>
    </body>
</html>

CSS Code ->
input, button {
    margin: 10px;
    padding: 5px;
}

div {
    margin: 5px;
    padding: 5px;
}
-->


<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign In Form
        </title>

        <link rel="stylesheet" href="stylesheets/01-sign-in-form.css">
    </head>
    <body>
        <h1>Sign In</h1>

        <input type="text" placeholder="Email" id="email-input">
        <input type="text" placeholder="Password" id="password-input">
        <a href="" class="forgot-password-link">Forgot Password</a>
        <button id="log-in-button">Log in</button>
    
        <p class="social-media-tags">facebook</p>
        <p class="social-media-tags">google</p>
        <p class="social-media-tags">linkedin</p>
    </body>
</html>