<!-- 
Problem:
Let's practice how to use display values by working on a website's footer,
the group of links at the bottom of the page.


Available:
We'll start off with the footer elements already added
inside a div element that has a few basics styles yet.
HTML Code ->
<!doctype html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "style.css">
    </head>
    <body>
        <div>
            <h3>Footer Menu</h3>
            <a href = "#">Home</a>
            <a href = "#">Log in</a>
            <a href = "#">Sign up</a>
            <a href = "#">FAQ</a>
            <span>Copyright 2020</span>
        </div>
    </body>
</html>

CSS Code ->
div {
    background-color: lavender;
    width: 300px;
    padding: 10px;
    text-align: center;
}
-->


<!DOCTYPE html>
<html>
    <head>
        <title>
            Mobile Footer
        </title>

        <link rel="stylesheet" href="stylesheets/02-mobile-footer.css">
    </head>
    <body>
        <div class="footer-menu-div">
            <h3>Footer Menu</h3>

            <a href="#" class="menu-item-a">Home</a>
            <a href="#" class="menu-item-a">Log in</a>
            <a href="#" class="menu-item-a">Sign up</a>
            <a href="#" class="menu-item-a">FAQ</a>

            <span class="footer-copyright-span">Copyright 2021</span>
        </div>
    </body>
</html>