<!DOCTYPE html>
<html>
    <head>
        <title>
            Mobile Footer
        </title>

        <link rel="stylesheet" href="stylesheets/02-mobile-footer.css">
    </head>
    <body>
        <div class="footer-menu-div">
            <h3>Footer Menu</h3>

            <a href="#" class="menu-item-a">Home</a>
            <a href="#" class="menu-item-a">Log in</a>
            <a href="#" class="menu-item-a">Sign up</a>
            <a href="#" class="menu-item-a">FAQ</a>

            <span class="footer-copyright-span">Copyright 2021</span>
        </div>
    </body>
</html>