<!-- 
Problem:
Let's use display values to style a social media post
that uses tags. 


Available:
We've added all the HTML and we've also given the div element
that makes up the social media post the class '.post' and styled it.
HTML Code ->
<!doctype html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" type = "text/css" href = "style.css">
    </head>
    <body>
        <div class = "post">
            <em>posted by @degrasse 3 days ago</em>
            <h3>Pluto is not a planet, deal with it.</h3>
            <div class = "tag">planet</div>
            <div class = "tag">nasa</div>
            <div class = "tag">science</div>
            <a href = "#">3k views</a>
        </div>
    </body>
</html>

CSS Code ->
.post {
    width: 300px;
    border: 1px solid plum;
    padding: 10px;
}

em {
    color: gray;
} 
-->


<!DOCTYPE html>
<html>
    <head>
        <title>
            Post with Tags
        </title>

        <link rel="stylesheet" href="stylesheets/03-post-with-tags.css">
    </head>
    <body>
        <div class="post-div">
            <em class="post-info-em">
                posted by @degrasse 3 days ago
            </em>
            <p class="post-text-p">
                Pluto is not a planet, deal with it.
            </p>
            <div class="tag-div">planet</div>
            <div class="tag-div">nasa</div>
            <div class="tag-div">science</div>
            <a href="" class="views-count-a">3k views</a>
        </div>
    </body>
</html>