<!DOCTYPE html>
<html>
    <head>
        <title>
            Post with Tags
        </title>

        <link rel="stylesheet" href="stylesheets/03-post-with-tags.css">
    </head>
    <body>
        <div class="post-div">
            <em class="post-info-em">
                posted by @degrasse 3 days ago
            </em>
            <p class="post-text-p">
                Pluto is not a planet, deal with it.
            </p>
            <div class="tag-div">planet</div>
            <div class="tag-div">nasa</div>
            <div class="tag-div">science</div>
            <a href="" class="views-count-a">3k views</a>
        </div>
    </body>
</html>