<!DOCTYPE html>
<html>
    <head>
        <title>
            App Profile Page
        </title>

        <link rel="stylesheet" href="stylesheets/app-profile-page.css">
    </head>
    <body>
        <img class="app-icon-img" src="https://mimo.app/i/code-flag-2.png" alt="">
        <h2>Coders Group</h2>

        <div class="app-profile-div">
            <img class="profile-picture-img" src="https://mimo.app/i/dark-icon.png" alt="">
            <h4>
                @batmimo
                <br>
                Joined March 2050
            </h4>
            <h5 class="bio-h5">
                Bio: Java software engineer with a focus on APIs and
                micro-services and took the plunge into Ruby just this May.
            </h5>
        </div>
    </body>
</html>