<!DOCTYPE html>
<html>
    <head>
        <title>
            Code Snippet
        </title>

        <link rel="stylesheet" href="stylesheets/code-snippet.css">
    </head>
    <body>
        <div class="code-snippet-div">
            <p class="function-p">function run() {</p>
            <p class="if-stmt-p">if (true) {</p>
            <p class="return-stmt-p">return "success";</p>
            <p class="if-stmt-p">} else {</p>
            <p class="return-stmt-p">return "failure";</p>
            <p class="if-stmt-p">}</p>
            <p class="function-p">}</p>
        </div>
    </body>
</html>