<!DOCTYPE html>
<html>
    <head>
        <title>
            Question Card
        </title>

        <link rel="stylesheet" href="stylesheets/question-card.css">
    </head>
    <body>
        <div class="card-div">
            <img class="cat-img" src="https://mimo.app/i/babaganoosh.png" alt="">
            <p>
                <strong>Baba Ganoosh</strong> . 3d ago
                <em class="position-em">Real Estate Developer</em>
            </p>
            <h2 class="question-title-h2">Who let the dogs out?</h2>
            <p>
                There has been a serious argument between the residents
                of Chase Street and Terrence Avenue. 
                No one seems to know who let the ...
                <em class="read-more-em">Read more</em>
            </p>
            <span class="views-count-span">10k views</span>
        </div>
    </body>
</html>