<!-- 
Problem:
Let's practice relative positioning by changing how we display
three cards meant to show the top three winners in a championship.


Available:
We'll start off with three different strong elements
with classes already set, and an empty style.css file.
HTML Code ->
<!doctype html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" type = "text/css" href = "style.css">
    </head>
    <body>
        <strong class = "first">1st</strong>
        <strong class = "second">2nd</strong>
        <strong class = "third">3rd</strong>
    </body>
</html>
-->


<!DOCTYPE html>
<html>
    <head>
        <title>
            Winners Steps
        </title>

        <link rel="stylesheet" href="stylesheets/01-winners-steps.css">
    </head>
    <body>
        <strong class="first-winner">1st</strong>
        <strong class="second-winner">2nd</strong>
        <strong class="third-winner">3rd</strong>
    </body>
</html>