<!-- 
Problem:
Let's use our knowledge of relative positioning to mimic
how code is positioned inside a code editor.


Available:
We'll start off with the HTML already in place and mock code 
inside the elements. The CSS file also has some basic color styles.
HTML Code ->
<!doctype html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" type = "text/css" href = "style.css">
    </head>
    <body>
        <div class = "code">
            <p>function run () {</p>
            <p>if (true) {</p>
            <p>return "success";</p>
            <p>} else {</p>
            <p>return "failure";</p>
            <p>} </p>
            <p>} </p>
        </div>
    </body>
</html>

CSS Code ->
.code {
    font-family: courier new;
    font-weight: bold;
    width: 500px;
    padding: 5px;
    background-color: #242533;
    color: #bfdaf9;
}
-->


<!DOCTYPE html>
<html>
    <head>
        <title>
            Code Snippet
        </title>

        <link rel="stylesheet" href="stylesheets/02-code-snippet.css">
    </head>
    <body>
        <div class="code-snippet-div">
            <p class="function-p">function run() {</p>
            <p class="if-stmt-p">if (true) {</p>
            <p class="return-stmt-p">return "success";</p>
            <p class="if-stmt-p">} else {</p>
            <p class="return-stmt-p">return "failure";</p>
            <p class="if-stmt-p">}</p>
            <p class="function-p">}</p>
        </div>
    </body>
</html>